.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cca353;
  padding: 1rem 2rem;
}

.footer h1, .footer h2 {
  padding: 0.66rem;
	font-family: Poppins, sans-serif;
	font-size: 1.4rem;
	color: #fff;
}

.footer h2 {
  font-size: 1rem;
}
